body{
    background-color: #ecf0f1;
    padding: 20px;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
.user-outer{
    width: 100%;
    height: 250px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #bdc3c7;
    display: flex;
    position: relative;
    overflow: hidden;
}
.avatar-outer{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
}
.avatar-outer img{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.user-data{
    flex: 1;
    padding: 10px;
}